*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS';
}

#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    padding: 1px 0 0 0;
    position: relative;
}

#nav{
    height: 11.2vh;
    margin: 5vh 0 0 0;
    width: 100%;
    border-top: .4vh solid #000000;
    border-bottom: .4vh solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('fonts/MonumentExtended-Ultrabold.otf') format('opentype');
}

#nav h1{
    /* background-color: crimson; */
    height: 100%;
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6vw;
    font-weight: 900;
    font-family: 'Monument Extended';
    letter-spacing: -.12vw;
    position: relative;
    margin: 0;
}

#nav h1::after{
    position: absolute;
    top: 10%;
    right: 2%;
    font-size: 1.2vw;
    content: "©️";
    margin-left: 0.2vw;
}

#nav h2{
    /* background-color: crimson; */
    height: 100%;
    width: 17%;
    display: flex;
    align-items: center;
    font-size: 1.8vw;
    justify-content: center;
    border-right: 0.2vw solid #000000;
    /* background-color: greenyellow; */
    font-weight: 600;
}

#nav h2:nth-last-child(2){
    /* background-color: blue; */
    width: 23%;
    justify-content: start;
}

#nav h2:nth-last-child(1){
    font-size: 2vw;
    font-weight: 900;
    border: none;
    padding: 0 4vw 0 0;
}

#center{
    /* background-color: aqua; */
    height: 83.7%;
    width: 100%;
    padding: 3vh 1vw;
}

#content{
    height: 100%;
    width: 100%;
    /* background: cadetblue; */
    position: relative;
    overflow: hidden;
}

#content img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 150%;
}

#overlay{
    height: 40%;
    width: 100%;
    /* background-color: crimson; */
    position: absolute;
    bottom: 0;
    padding: 3vh;
    background-color: transparent;
    backdrop-filter: blur(0px);
}

#overlay-1{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 0 0 2vh 0;
}

#overlay-2{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    font-family: 'Monument Extended';
    margin: 0 1vw;
}

#overlay-2 h4{
    margin: 0 2vw 0 0;
}


#overlay-1 h1{
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    color: #F8F8F8;
    /* -webkit-text-stroke: 2px black; */
    font-family: 'Monument Extended';
    margin: 0 1vw;
}

#overlay-1 h2{
    color: #000000;
    padding: 2vw 2.1vw;
    display: flex;
    align-items: center;
    /* background-color: #FFFFFF; */
    border-radius: 50%;
    font-size: 4vw;
    color: #F8F8F8;
    border: .51vh solid #f33737;
}

#scroll{
    width: 100%;
    height: 45vh;
    background-color: #F8F8F8;
    white-space: nowrap;
    overflow: hidden;
    /* overflow-y: hidden; */
    display: flex;
    align-items: center;
}

#image-container{
    display: flex;
    animation-name: image-scroll-animation;
    animation-duration: 20s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation: image-scroll-animation 20s linear infinite; */
    /* height: 100%;
    width: 100%;
    background-color: crimson;
    display: inline-block;
    padding: 2vh; */
}

#image-container img{
    height: 15vw;
    border-radius: 50%;
    width: 15vw;
    object-fit: cover;
    margin: 0 0.4vw;
}

@keyframes image-scroll-animation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

#alphabets-container{
    height: 11vh;
    width: 100%;
    /* background-color: rgb(1, 103, 69); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    font-size: 1.2vw;
    overflow: auto;
    border-top: 0.31vh solid black;
    border-bottom: 0.31vh solid black;
}

#alphabets-container h3{
    font-weight: 500;
    font-style: italic;
    color: #090202;
    border-bottom: 0.3vh solid #090202;
}

#alphabets-container h6{
    font-size: .9vw;
    font-weight: 500;
    font-style: italic;
    color: #090202;
    /* background-color: beige; */
    padding: .6vw .9vw;
    border-radius: 50%;
    border: 1px solid #00000000;
    cursor: pointer;
    transition: all ease 0.5s;
    /* border-bottom: 0.3vh solid #090202; */
}

#alphabets-container h6:hover{
    border: 1px solid #000000de;
    background-color: #F8F8F8;
}

#page-2{
    height: 100%;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.1vw 1.5vw 0 2.5vw;
}

#page-2-part-1{
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

#page-2-part-1 h1{
    font-family: 'Monument Extended';
    padding: 1.6vh 0 0 0;
    font-size: 5vh;
    letter-spacing: -0.05vw;
}

#page-2-part-1 img{
    height: 100%;
    width: 90%;
    object-fit: cover;
}

#page-2-part-2{
    height: 90%;
    width: 50%;
    margin: 4vh 0 0 4vw;
}

#page-2-part-2 img{
    height: 70%;
    width: 90%;
    object-fit: cover;
}

#page-2-part-2-text-content{
    display: flex;
    justify-content: space-between;
}

#page-2-part-2-text-content h1{
    width: 40vw;
    font-size: 4vh;
    font-family: 'Monument Extended';
    padding-top: 2vh;
}

#page-2-part-2-text-content p{
    width: 40vw;
    margin: 2vh 6vw 0 2vw;
}

#page-3{
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: aquamarine; */
    padding: 0.1px;
}

#page-3>h1{
    font-family: 'Monument Extended';
    margin: 2vw;
    text-align: center;
    /* background-color: red; */
}

.elem{
    height: 18vh;
    width: 94.5vw;
    margin: 0 2vw;
    position: relative;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}

.elem h4{
    font-size: 1.62vw;
    font-weight: 700;
    text-transform: uppercase;
    width: 5vw;
    /* background-color: red; */
}

.elem .elem-part-2{
    /* background-color: crimson; */
    width: 40%;
}

.elem-part-2 h1{
    font-size: 3vw;
    font-weight: 700;
    margin: 0;
    /* background-color: red; */
}

.elem-part-2 h5{
    font-size: 1.2vw;
    margin: 0;
    text-transform: uppercase;
    /* background-color: red; */
}

.elem img{
    height: 6vw;
    width: 6vw;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    left: 5vw;
    opacity: 0;
    transition: all ease 0.8s;
}

.elem:hover img{
    opacity: 1;
    left: 25vw;
}

.elem-part-2 h5:hover{
    font-size: 1.2vw;
    margin: 0;
    text-transform: uppercase;
    color: tomato;
    /* background-color: red; */
}

#page-4{
    height: 100%;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.1vw 1.5vw 0 2.5vw;
    flex-direction: row-reverse;
}

#page-4-part-1{
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

#page-4-part-1 h1{
    font-family: 'Monument Extended';
    padding: 1.6vh 0 0 0;
    font-size: 5vh;
}

#page-4-part-1 img{
    height: 100%;
    width: 90%;
    object-fit: cover;
}

#page-4-part-2{
    height: 90%;
    width: 50%;
    margin: 4vh 0 0 4vw;
}

#page-4-part-2 img{
    height: 70%;
    width: 90%;
    object-fit: cover;
}


#page-4-part-2-text-content{
    display: flex;
    justify-content: space-between;
}

#page-4-part-2-text-content h1{
    width: 30vw;
    font-family: 'Monument Extended';
    padding-top: 2vh;
}

#page-4-part-2-text-content p{
    width: 30vw;
    margin: 2vh 6vw 0 0;
}

#page-5{
    height: 100%;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.1vw 1.5vw 0 2.5vw;
}

#page-5-center{
    /* background-color: aqua; */
    height: 83.7%;
    width: 100%;
    padding: 3vh 1vw;
}

#page-5-content{
    height: 100%;
    width: 100%;
    /* background: cadetblue; */
    position: relative;
    overflow: hidden;
}

#page-5-content img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 150%;
}


#page-6{
    height: 100%;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.1vw 1.5vw 0 2.5vw;
    /* flex-direction: row-reverse; */
}

#page-6-part-1{
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

#page-6-part-1 h1{
    font-family: 'Monument Extended';
    padding: 1.6vh 0 0 0;
    font-size: 5vh;
    letter-spacing: -0.1vw;
}

#page-6-part-1 img{
    height: 100%;
    width: 90%;
    object-fit: cover;
}

#page-6-part-2{
    height: 90%;
    width: 50%;
    margin: 4vh 0 0 4vw;
}

#page-6-part-2 img{
    height: 70%;
    width: 90%;
    object-fit: cover;
}


#page-6-part-2-text-content{
    display: flex;
    justify-content: space-between;
}

#page-6-part-2-text-content h1{
    width: 30vw;
    font-family: 'Monument Extended';
    padding-top: 2vh;
}

#page-6-part-2-text-content p{
    width: 30vw;
    margin: 2vh 6vw 0 0;
}


#scroll-2 {
    width: 100%;
    height: 7vw;
    /* background-color: crimson; */
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-top: 2px solid black; /* Black top border */
    border-bottom: 2px solid black; /* Black bottom border */
}

#scroll-2-text-container {
    display: flex;
    animation-name: text-scroll-animation;
    animation-duration: 20s;
    animation-delay: 0.31s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroll-text {
    display: flex; /* Make sure the text is in a flex container */
}

#scroll-text h1 {
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 2px black;
    font-family: 'Monument Extended';
    margin: 0 1vw;
}

@keyframes text-scroll-animation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

#footer {
    background-color: #f8f8f8;
    color: #000000;
    padding: 2rem 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 0 1rem;
}

.footer-section h3 {
    border-bottom: 2px solid #000000;
    margin-bottom: 1rem;
}

.footer-section p,
.footer-section ul {
    margin: 0.5rem 0;
    list-style: none;
}

.footer-section ul li {
    margin: 0.5rem 0;
}

.footer-section ul li a {
    color: #000000;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 1rem 0;
    background-color: #F8F8F8;
}



